.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.uploadButton {
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  color: #00629d;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  align-self: flex-start;
}

.uploadButton input {
  display: none;
}

.fileInput {
  display: none;
}

